---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Icon } from 'astro-icon'

const { cw = '/Loading screen Clan Wars 2.png' } = Astro.props
---

<DefaultLayout title="CR Team">
  <section class="my-12">
    <div class="space-content container">
      <h1>Clash Royale</h1>
      <p class="text-2xl block">
        
      </p>
    </div>
  </section>
  <section class="mb-12 mt-32">
   <div class="grid gap-4 grid-cols-3 grid-rows-2">
   
   <div class="flex flex-col bc border-2 rounded-t-xl">
    <img class="w-full h-auto rounded-t-xl" src={cw} alt="CR">
    <div class="text-center">
      <p class="text-lg font-bold">🇮🇹 Keef</p>
      <a href="https://twitter.com/Keef_CR"><Icon pack="ion" name="logo-twitter" class="h-8 w-auto ml-auto mr-auto" /></a>
    </div>
   </div>

   <div class="flex flex-col bc border-2 rounded-t-xl">
   <img class="w-full h-auto rounded-t-xl" src={cw} alt="CR">
   <div class="text-center">
     <p class="text-lg font-bold">🇧🇷 Samuel Bassotto</p>
     <a href="https://twitter.com/Samuel_Bassotto"><Icon pack="ion" name="logo-twitter" class="h-8 w-auto ml-auto mr-auto" /></a>
   </div>
   </div>

   <div class="flex flex-col bc border-2 rounded-t-xl">
   <img class="w-full h-auto rounded-t-xl" src={cw} alt="CR">
   <div class="text-center">
     <p class="text-lg font-bold">🇺🇸 Miniminter</p>
     <a href="https://twitter.com/Mini__CR"><Icon pack="ion" name="logo-twitter" class="h-8 w-auto ml-auto mr-auto" /></a>
   </div>
   </div>

   <div class="flex flex-col bc border-2 rounded-t-xl">
   <img class="w-full h-auto rounded-t-xl" src={cw} alt="CR">
   <div class="text-center">
     <p class="text-lg font-bold">🇧🇷 Surg TS</p>
     <a href="https://twitter.com/Surg_Ts"><Icon pack="ion" name="logo-twitter" class="h-8 w-auto ml-auto mr-auto" /></a>
   </div>
   </div>

   <div class="flex flex-col bc border-2 rounded-t-xl">
   <img class="w-full h-auto rounded-t-xl" src={cw} alt="CR">
   <div class="text-center">
     <p class="text-lg font-bold">🇨🇴 Kodigo</p>
     <a href="https://twitter.com/Kodigo_GG"><Icon pack="ion" name="logo-twitter" class="h-8 w-auto ml-auto mr-auto" /></a>
   </div>
   </div>

   </div>
  </section>
</DefaultLayout>

<style>
p {
  font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;
}

.bc{
  border-color: #d75617;
}
</style>