---
import DefaultLayout from '../layouts/DefaultLayout.astro'

const { cw = '/Loading screen Clan Wars 2.png' } = Astro.props
---

<DefaultLayout title="CR Team">
  <section class="my-12">
    <div class="space-content container">
      <h1>Clash Royale</h1>
      <p class="text-2xl block">
        
      </p>
    </div>
  </section>
  <section class="mb-12 mt-32">
   <div class="grid gap-4 grid-cols-3 grid-rows-2">
   
   <div class="flex flex-col">
   <img class="w-full h-auto rounded-t-xl" src={cw} alt="CR">
   <p class="text-lg font-bold">Keef</p>
   </div>

   <div class="flex flex-col">
   <img class="w-full h-auto rounded-t-xl" src={cw} alt="CR">
   <p class="text-lg font-bold">🇧🇷 Samuel Bassotto</p>
   </div>

   <div class="flex flex-col">
   <img class="w-full h-auto rounded-t-xl" src={cw} alt="CR">
   <p class="text-lg font-bold">Miniminter</p>
   </div>

   <div class="flex flex-col">
   <img class="w-full h-auto rounded-t-xl" src={cw} alt="CR">
   <p class="text-lg font-bold">🇧🇷 Surg TS</p>
   </div>

   <div class="flex flex-col">
   <img class="w-full h-auto rounded-t-xl" src={cw} alt="CR">
   <p class="text-lg font-bold">Kodigo</p>
   </div>

   </div>
  </section>
</DefaultLayout>

<style>
.emoji {
  font-family: "Twemoji Country Flags", "Helvetica", "Comic Sans", serif;
}
</style>